branches:
  - main
  - name: alpha
    prerelease: true
debug: true
ci: true
dryRun: false
plugins:
  - '@semantic-release/commit-analyzer'
  - '@semantic-release/release-notes-generator'
  - - '@semantic-release/npm'
    - pkgRoot: ./dist/packages/nx-semantic-release
      tarballDir: ./dist/packages/nx-semantic-release
  - - '@semantic-release/github'
    - assets:
        - path: ./dist/packages/nx-semantic-release/*.tgz
          label: nx-semantic-release (tar.gz)
